.row {
    width: 100%;
    display: table;
    margin-top: 0px;
    margin-bottom: 50px;
}

.page-main {
    width: 48%;
    display: table-cell;
}

.page-sidebar {
    width: 26%;
    display: table-cell;
}

.content-block {
    margin-right: 30px;
    margin-top: 30px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    line-height: 1.5em;
}

li {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1em;
  line-height: 1.5em;
}

.note {
    text-decoration: underline;
    text-decoration-color: #eb5e28;
    text-decoration-thickness: 3px;
}

.note:hover {
    background-color: lightgrey;
}

a[href] {
    text-decoration: underline;
    text-decoration-color: #91a6ff;
    text-decoration-thickness: 3px;
}

a[href]:hover {
    background-color: lightgrey;
}

.annotation {
    border: 0px;
    border-top: 2px;
    border-style: solid;
    border-color: #eb5e28;
    display: block;
}

.annotation > p {
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
}

.footnote {
    vertical-align: super;
    font-size: .75em;
    font-weight: bold;
    text-decoration: underline;
}

.footnote:hover {
    color: #eb5e28;
}

.footnote-text {
    border: 0px;
    border-top: 2px;
    border-style: solid;
    border-color: black;
    display: block;
}

.footnote-text > p {
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}

#controlbox {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 23%;
    z-index: 1000;
  }
  #search {
    position: absolute;
    left: 0em;
    top: 4em;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 5px #666;
    height: 3em;
    width: 100%;
    margin-bottom: 0.5em;
    outline: none;
    z-index: 1000;
  }
  #search-input {
    height: 100%;
    width: 100%;
    border: none;
    font-family: sans-serif;
    font-size: 1em;
    padding-left: 10px;
    position: relative;
  }
  .material-symbols-outlined {
    display: none;
  }
  #controls {
    position: relative;
    float: left;
    margin-right: 20px;
    text-align: left;
    z-index: 1000;
  }
  .panel {
    position: absolute;
    left: 1em;
    bottom: 1em;
    text-align: left;
    box-shadow: 0 1px 5px #666;
    padding: 1em;
    padding-bottom: .5em;
    width: 16em;
    z-index: 1000;
    background-color: #fff;
    color: #000000;
  }
  a {
    color: #000000;
  }
  .input {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  .input:not(:hover) label {
    display: none;
  }
  .input label {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    color: white;
    padding: 0.2em;
    border-radius: 2px;
    margin-top: 0.3em;
    font-size: 0.8em;
    white-space: nowrap;
  }
  .input button {
    display: inline-block;
    text-align: center;
    background: #fff;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 1px 5px #666;
    color: #000;
    font-size: 1.5em;
    height: 2em;
    width: 2em;
    margin: 0.1em;
  }
  #social-panel {
    position: relative;
    box-shadow: 0 1px 5px #666;
    padding: .5em;
    border-radius: 25px;
    background: #ffffff;
    margin: 0.1em;
    height: 2em;
    width: fit-content;
    float: right;
  }
  .twitter-share-button {
    vertical-align: middle;
    position: absolute;
    right: 0em;
  }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  .fa {
    font-size: 18px;
    width: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    vertical-align: middle;
  }
  .fa-facebook {
    background-color: #3B5998;
    color: white;
    padding: 5px;
  }
  .fa-facebook:hover {
    background-color: #2c4372;
  }
  .fa-reddit {
    background-color: #ffffff;
    color: #FF4500;
    font-size: 30px;
    width: 30px;
  }
  .fa-reddit:hover {
    color: #bf3400;
  }
  #popout-icon {
    position: absolute;
    right: 1em;
    color: black;
    border: 0px;
    background: #ffffff;
  }
  #popout-icon:hover {
    color: grey;
  }
  #panel-header {
    padding-bottom: 2em;
  }

.site-title-panel {
    position: relative;
    padding: .5em;
    border-radius: 25px;
    background: #ffffff;
    margin: 0.1em;
    width: fit-content;
    margin-bottom: 10px;
    float: right;
    background-color: #000000;
}

.site-title {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: #ffffff;
}

.control-menu {
  margin-top: 0px;
  position: relative;
  width: fit-content;
  float: right;
  margin-bottom: 2px;
}

.menu-item-panel {
  position: relative;
  right: 0px;
  padding: .5em;
  margin: 0.1em;
  width: fit-content;
  margin-bottom: 10px;
  background-color: #91a6ff;
  float: left;
  transition: margin-top .5s;
  border-radius: 25px;
}

.menu-item-panel:hover {
  margin-top: -4px;
}

.menu-item {
  text-transform: uppercase;
  font-size: .85em;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-weight: 530;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.masthead {
  height: 50px;
}

.headline {
    font-family: 'times new roman',times,serif;
    font-size: 2em;
    font-weight: 700;
    color: black;
    margin: 20px;
    margin-top: 0px;
}

.headline-box {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid #91a6ff;
}

.social-button {
    text-decoration: none !important;
}

.headline-separator {
  height: 2px;
  color: black;
  background-color: black;
  border: none;
  width: 90%;
  float: left;
}

.quote-block {
  border-left: solid black 2px;
  padding-left: 20px;
}

#mc_embed_signup {
  width: 100% !important;
  float: right !important;
  padding-right: 2px !important;
}

#mc_embed_shell {
  width: fit-content !important;
  float: right !important;
  width: 92% !important;
}

#mc-embedded-subscribe {
  float: right !important;
  margin-top: 0px !important;
  margin-left: 5px !important;
  border-radius: 25px !important;
  border: none !important;
  background-color: #91a6ff !important;
  font-size: 15px !important;
  padding: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  color: #ffffff !important;
}

#mc-embedded-subscribe:hover {
  background-color: #1f487e !important;
}

#mce-EMAIL {
  float: right !important;
  width: 70% !important;
  border-radius: 25px !important;
  height: 1.5em !important;
  border: 1.5px solid black !important;
  padding-left: 10px !important;
}

#mc_embed_signup div.mce_inline_error {
  display: none !important;
}

input[type="submit"] {
  font-family: FontAwesome;
}

.meta {
  font-size: 1.1em;
  width: 100%;
  height: 30px;
  font-weight: 530;
  margin: 20px;
  margin-bottom: 0px;
}

.meta>* {
  float: left;
  margin-right: 10px;
  color: black;
  border-radius: 25px;
  font-style: italic;
  height: fit-content;
}

.mobile-masthead {
  width: 100%;
  background-color: black;
  color: #ffffff;
  height: fit-content;
  display: block;
}

.mobile-masthead>p {
  margin: 0px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 2em;
}

.table-word {
  background-color: #91a6ff;
  color: white;
  padding: 10px;
  margin-right: 0px;
  text-align: right;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.table-description {
  border: 2px #91a6ff solid;
  padding: 10px;
  margin-left: 0px;
  font-family: 'Times New Roman', Times, serif;
}

.tenets-table {
  width: 100%;
}

.source-files {
  text-decoration: none !important;
  transition: margin-top .5s;
  background-color: white !important;
}

.source-files:hover {
  margin-top: -4px;
}

.response {
  top: 10px;
  position: relative;
  left: 25px;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  border: #91a6ff 2px solid;
  width: fit-content;
  padding: 10px;
  color: black;
  margin-bottom: 10px;
}

.mobile-menu {
  height: fit-content;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: white;
  box-shadow: 0 1px 5px #666;
}

.mobile-menu-item {
  width: 25%;
  text-align: center;
  height: fit-content;
  float: left;
  font-size: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-card {
  width: 44%;
  height: fit-content;
  box-shadow: 0 1px 5px #666;
  padding: 10px;
  border-radius: 25px;
  position: relative;
  float: left;
  margin-right: 20px;
  background-color: white;
  margin-bottom: 20px;
}

.staff-carousel {
  margin-top: 20px;
}

.profile-card-section {
  float: left;
  padding: 10px;
}

#profile-card-photo {
  width: 35%;
}

.profile-pic {
  width: 100%;
}

.staff-name {
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
  margin: 0px;
  font-weight: bold;
}

.staff-bio {
  font-family: 'Times New Roman', Times, serif;
  margin: 0px;
}

.document-carousel {
  margin-top: 20px;
}

.document-clip {
  width: 30%;
  float: left;
  box-shadow: 0 1px 5px #666;
  transition: margin-top .5s;
  margin-right: 20px;
  margin-bottom: 20px;
}

.document-clip:hover {
  margin-top: -10px;
}

.document-thumbnail {
  width: 100%;
}

.document-band {
  position: relative;
  bottom: 20px;
  width: 100%;
  background-color: #91a6ff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-weight: 530;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
}

.document-wrapper {
  display: block;
  width: fit-content;
  height: fit-content;
}

/* mobile adaptation */

@media screen and (min-width: 820px) {
    .annotation {
        width: fit-content;
        transition-property: top;
        transition-duration: 1s;
        max-width: 300px;
        top: 20px;
        position: absolute;
    }

    .mobile-masthead {
      display: none;
    }

    .mobile-menu {
      display: none;
    }

    #staff-header {
      display: none;
    }

    .mobile-only-header {
      display: none;
    }
}

@media screen and (max-width: 820px) {
    .page-main {
        width: 100%;
        padding: 20px;
        padding-top: 0px;
    }

    .content-block {
        margin-right: 0px;
    }

    .headline {
      font-size: 1.5em;
    }

    .meta {
      font-size: 1em;
    }

    #src-separator {
      display: none;
    }

    .source-files {
      display: none;
    }

    .annotation {
        bottom: 0px;
        width: 100%;
        left: 0px;
        background-color: white;
        box-shadow: 0 2px 6px 2px #666;
        border-top: 0px;
        height: fit-content;
        max-height: 0px;
        position: fixed;
        transition-property: "max-height";
        transition-duration: "1s";
        z-index: 999;
    }

    .page-sidebar {
        display: block;
    }

    #sidebar-left {
      display: none;
    }

    .annotation > p {
        margin-left: 20px;
        margin-right: 20px;
        border: 0px;
        border-top: 2px;
        border-style: solid;
        padding-top: 10px;
        margin-top: 20px;
        padding-bottom: 10px;
    }

    .mobile-masthead {
      display: block;
    }

    h2 {
      width: 90%;
      text-align: center;
    }

    .mobile-menu {
      display: block;
    }

    #src-separator {
      display: none;
    }

    .profile-card {
      width: 94%;
    }

    .document-clip {
      width: 100%;
    }

    .mobile-only-header {
      display: block;
      width: 93%;
    }
}